<div class="navbar">
    <h2>INCOME</h2>
</div>

<div class="main-container">
    <div class="container">
        <h2>Income</h2>
        <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="input-form">
            <div class="form-group">
                <select formControlName="month" id="month" class="form-control" (change)="onChange($event)">
                    <option value="" disabled>Select Month</option>
                    <option *ngFor="let month of getUniqueMonths()" [value]="month">{{ month }}</option>
                </select>
            </div>
            <div class="form-group">
            </div>
            <div class="total-income">
                Total Income for {{ selectedMonth }}: ${{ calculateTotalIncome(selectedMonth) }}
            </div>
            <div class="form-group">
                <label for="source">Source of Income:</label>
                <select formControlName="source" id="source" class="form-control"
                    [class.disabled-dropdown]="!monthSelected">
                    <option value="" disabled>Select Source</option>
                    <option *ngFor="let category of budgetCategories" [value]="category.id">{{ category.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" formControlName="amount" id="amount" class="form-control"
                    placeholder="Enter amount" [class.disabled-dropdown]="!monthSelected">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                [class.disabled-dropdown]="!monthSelected">Add</button>
        </form>

        <hr>
        <h3>Income List - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Source of Income</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of getFilteredIncomes()">
                    <td>{{ getSourceById(income.budgetCategory) }}</td>
                    <td>{{ income.amount }}</td>
                    <td class="btn-actions">
                        <button class="btn btn-sm btn-danger" (click)="deleteIncome(income)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="input-form">
            <button class="btn btn-primary" (click)="onBack()">Back</button>
        </div>
    </div>
</div>